body{
    overflow-x: hidden;
}
.sectionone{
    background-image: url(beach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
}

.btn{
    background-color: #000000;
    border: none;
}

.sectionthree{
    background-image: url(laut_bagus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(253, 253, 253);
}

.sectionfive{
    background-color: white;
}
.sectionsix{
    background-color: white;
}
.bgcontent{
    background-color:mediumblue
}

.problemone{
    background-image: url(sampah_ngambang.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.solutionone{
    background-image: url(sampah_plastik.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.problemtwo{
    background-image: url(njaring_ikan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.solutiontwo{
    background-image: url(recycle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}